# Ignorar archivos .log
*.log

# Ignorar el directorio llamado "logs"
/logs/

# Ignorar archivos de configuración específicos
config.ini

#ignorar directorio
/.vscode/

#/ignorar git ignore

/.gitignore/